.caixa {
    width: 300px;
    height: 300px;
    /*background: url(./assets/camera.png);*/
    /* linear-gradient
    -------------------------
    */
    /*background: linear-gradient(to left, green, red);*/
    /* to left ou right - para definir a direção das cores EX: background: linear-gradient(to left, green, red); */
    /* deg - para rotacionar as cores em graus EX: background: linear-gradient(90deg, green, red); */
    /* radial-gradient
    -------------------------
     */
    /*background: radial-gradient(red, green, yellow);*/
}

.caixa h1 {
    /*
    background: rgb(225, 255, 255, 0.8);
     0.8 define a opacidade do elemento */
}