.caixa {
    width: 300px;
    height: 300px;
    background: yellow;
}

.caixa:hover {
    width: 700px;
    background: orange;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: all 3s;
}